<footer class="ms-footer">
	<div class='ms-footer__top'>
		<div class="ms-footer__top--link">
			<a href = "https://www.linkedin.com/company/naijaproperty" target="_blank" class="social-icon-link"><i class="fa fa-linkedin social-icon"></i></a>
			<a href = "https://www.facebook.com/naijaproperty" target="_blank" class="social-icon-link"><i class="fa fa-facebook social-icon"></i></a>
			<a href = "https://twitter.com/naijaproperty2" target="_blank" class="social-icon-link"><i class="fa fa-twitter social-icon"></i></a>
			<a href = "https://youtube.com/saidmaadan" target="_blank" class="social-icon-link"><i class="fa fa-youtube social-icon"></i></a>
			<a href = "https://pinterest.com/naijaproperty" target="_blank" class="social-icon-link"><i class="fa fa-pinterest social-icon"></i></a>
			<a href = "https://google.com/saidmaadan" target="_blank" class="social-icon-link"><i class="fa fa-google-plus-square social-icon"></i></a>
			<a href = "https://instagram.com/naijapropertydotcom" target="_blank" class="social-icon-link"><i class="fa fa-instagram social-icon"></i></a>
		</div>
	</div>
	<div class='ms-footer__middle'>
		<div class="ms-footer__middle--about">
			<p>Properties For Rent or Sales &nbsp; | &nbsp; Property Finder & Guide</p><br>
			<p class="ms-footer__middle--about-content">Since 2010, NaijaProperty is a trusted platform for people to list, search and discover property across Nigeria. NaijaProperty provide easiest way for property owners and agents to showcase their properties to millions of audience. If you are ready to rent or buy properties in Nigeria, you are at the right place to search for your dream home from thousand of properties. Your desire property is now just a click away... </p>
		</div>
		<div class="ms-footer__middle--site-links">
			<div class="ms-footer__middle--site-links_left">
				<span class="ms-footer__middle--text-center">Site Links</span><hr>
				<ul class="navigation-list">
				<li class="navigation-item">
					<%= link_to " For Sale", root_path, class: "navigation-link" %>
				</li>
				<li class="navigation-item">
					<%= link_to " For Rent", root_path, class: "navigation-link" %>
				</li>
				<li class="navigation-item">
					<%= link_to " Short Stay", root_path, class: "navigation-link" %>
				</li>
				<li class="navigation-item">
					<%= link_to " Add Property", root_path, class: "navigation-link" %>
				</li>
				<li class="navigation-item">
					<%= link_to " Advanced Search", root_path, class: "navigation-link" %>
				</li>
			</ul>				
			</div>
			<div class="ms-footer__middle--site-links_right">
				<span class="ms-footer__middle--text-center">About Us</span><hr>
				<ul class="navigation-list">
					<li class="navigation-item">
						<%= link_to " Blogs", root_path, class: "navigation-link" %>
					</li>
					<li class="navigation-item">
						<%= link_to " About Us", root_path, class: "navigation-link" %>
					</li>
					<li class="navigation-item">
						<%= link_to " Contact Us", root_path, class: "navigation-link" %>
					</li>
					<li class="navigation-item">
						<%= link_to " Privacy Policy", root_path, class: "navigation-link" %>
					</li>
					<li class="navigation-item">
						<%= link_to " Terms of Service", root_path, class: "navigation-link" %>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="ms-footer__bottom">
		<div class='ms-footer__bottom--copy center-text'>
  			<p ><span>&copy; 2010 - 2020 NaijaProperty.Com.</span> All rights reserved. <br> Made with <i class='fa fa-heart '></i> at <a href = "http://inventivelabs.co" target="_blank" class="ms-footer__bottom--link">Inventive Labs</a></p>
  		</div>
	</div>
</footer>


