<!DOCTYPE html>
<html>
  <head>
    <title>Naijapro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body >
    <div class="ms-container">
      <%= render  "shared/navbar" %>
      
      <div class="main">
        <%= render 'shared/notifications' %>
        <%= yield %>
      </div>
      <%= render  "shared/footer" %>
    </div>
  </body>
</html>
