<!DOCTYPE html>
<html>
  <head>
    <title>Naijapro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body >
    <%#= render "shared/signin" %>
    
    <%#= render "devise/sessions/form" %>
    <div class="ms-container">
      <%#= render "agents/sessions_or_registrations/form" %>
      <%= render  "shared/navbar" %>
      <%= render 'shared/notifications' %>
      <div class="main">
        <%= yield %>
      </div>
      <%= render  "shared/footer" %>
    </div>
  </body>
</html>
